{{!-- 
   accept cookie
--}}

<div class="bg-banner">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="/public/images/cookie.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>Ce site souhaite utiliser des cookies pour améliorer votre expérience.<br>
            En cliquant sur ”J’accepte”, vous acceptez l’utilisation des cookies. Vous pourrez toujours les désactiver
            ultérieurement. Si vous les supprimez ou les désactivez, vous pourriez rencontrer des interruptions ou
            des
            problèmes d’accès au site."</p>
          <div class="row  d-flex justify-content-center">

            <form action="/cookie/?_method=PUT" method="post" enctype="multipart/form-data">
              <button class="btn btn-light d-flex align-items-center " type="submit">J'accepte</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-banner {
    background-color: rgba(246, 248, 248, 0.75);
      }
</style>