{{!-- 
FOOTER
 --}}
<footer class="footer ">
    <div class="inner">
        <div class="container-fluid">
            <div class="row d-flex justify-content-around">
                {{!-- Zone contact --}}
                <div class="col-md-4 p-1">
                    <div class="row ">
                        <div class="col-md-12 d-flex justify-content-center my-2">
                            <a class="text-reset" href="/contact">Contact</a>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center ">
                        <a target="blank" class="bg-white" href="https://www.facebook.com/vanessa.binet.1884"><i
                                class="fab fa-facebook-square fa-2x mx-2 network" style="color: #3b5999"></i></a>

                        <a target="blank" class="bg-white" href="https://www.instagram.com/vanessa_asg_domicile/"><i
                                class="fab fa-instagram fa-2x mx-2 network" style="color: #e4405f"></i></a>
                         <i class="fab fa-twitter fa-2x mx-2 network" type="button" ></i>
                    </div>
                </div>
                {{!-- /Zone contact --}}

                {{!-- Zone  creation du site--}}
                <div class="col-md-4 p-3 text-center">
                    <a class="text-reset my-1" target="_blank" href="#">Site créé par <br>
                        devloloper</a>
                </div>
                {{!-- /Zone creation du site--}}

                {{!-- Zone liens --}}
                <div class="col-md-4  p-3 text-center">
                    <a class="text-reset " href="#">Mentions légales</a> <br>
                    <a class="text-reset" href="#">CGU
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        /* Set the fixed height of the footer here */
        background-color: rgba(59, 236, 236, 0.75);
    }
</style>