<!-- Modal register   -->
<div class="modal fade bd-example-modal-lg " id="modalPopUp" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5> Inscrivez vous ! </h5>
            </div>
            <div class="modal-body">
                <h5>Pour profiter pleinement du site (voir plus de photos, ajouter des commentaires...)</h5>
            </div>
            <div class="modal-footer">
                <button type="submit" data-dismiss="modal"  data-toggle="modal" data-target="#register-modal-lg"
                    class="btn btn-info">s'inscrire</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(() => {
        $('#modalPopUp').modal({
            show: true
        })
        console.log('setTimeout')
    }, 300000);
</script>