<section class="m-5 p-3">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white" style='box-shadow: #777 0px 3px 5px'>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item active">
                    <a class="nav-link  font-weight-bold " href="/">Page d'accueil <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active ">
                    <a class="nav-link   font-weight-bold" href="/Article">Articles</a>
                </li>

                <li class="nav-item active ">
                    <a class="nav-link  font-weight-bold" href="/Contact">Contact</a>
                </li>
 
                {{#if user}}

                <li class="nav-item active">
                    <a class="nav-link  font-weight-bold" href="/Profil/{{sess.userId}}">Mon Compte</a>
                </li>

                

                <!-- Button trigger modal logout-->
                <li class="nav-item active ">
                    <a class="nav-link  font-weight-bold" data-toggle="modal" data-target="#logout" href="#">Se
                        deconnecter</a>
                </li>

                {{else}}
                <!-- Button trigger modal register-->
                <li class="nav-item active ">
                    <a class="nav-link  font-weight-bold" data-toggle="modal" data-target="#register" href="#">S'inscrire</a>
                </li>

                 <!-- Button trigger modal register-->
                <li class="nav-item active ">
                    <a class="nav-link  font-weight-bold" data-toggle="modal" data-target="#login" href="#">Se
                        connecter</a>
                </li>

                {{/if}}

                {{#if isAdmin}}
                <li class="nav-item active  ">
                    <a class="nav-link   font-weight-bold" href="/Agenda">Agenda</a>
                </li>

                <li class="nav-item active  ">
                    <a class="nav-link  font-weight-bold" href="/admin">Admin</a>
                </li>

                <li class="nav-item active">
                    <h3 class="nav-link  font-weight-bold text-info">Vous avez {{ counter dbMessageNotChecked }}
                        Messages</h3>
                </li>

                {{else}}

                {{/if}}

            </ul>
        </div>
    </nav>
</section>


{{!-- Appel le modal de s'enregistrer/se connecter --}}
{{> navbar/register }}

{{!-- Appel le modal se connecter --}}
{{> navbar/login }}

{{!-- Appel le modal de se deconnecter --}}
{{> navbar/logout }}

