<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.vanessa-binet-asg.fr" />
    <meta property="og:image" content="https://www.vanessa-binet-asg.fr/assets/images/logo.jpg" />
    <meta property="og:description"
        content="Un ASG ou assistant de soins en gérontologie, est un aide-soignant ou aide-médico-psychologique (AMP) spécialisé dans les soins à apporter aux personnes agées. L’assistant de soins en gérontologie permet non seulement d’assurer une surveillance et un accompagnement spécialisés au quotidien, mais aussi de lutter contre la solitude et les risques de dépression dont peut souffrir la personne âgée" />

    {{!-- ck Editor --}}
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

    {{!-- j query --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    {{!-- balise canonical --}}
    <link rel="canonical" href="https://www.vanessa-binet-asg.fr" />

    {{!-- font awesome icon --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {{!-- css --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- css lightbox --}}
    <link rel="stylesheet" href="/assets/css/lightbox.css">

    {{!-- favicon site --}}
    <link rel="icon" href="/assets/favicon.ico" />


    <title>Vanessa Binet - ASG à Domicile</title>
</head>

<body>
    {{> navbar}}

    {{#if errorsPassword}}
    {{> modalErrorsPassword}}
    {{/if}}

    {{#if errorsEmailMdpOublie}}
    {{> modalErrorsEmailMdpOublie}}
    {{/if}}

    {{#if cookieNotAccept}}
    {{> bannerCookie}}
    {{/if}}

    {{#if user }}
    {{else}}
    {{> modalPopUp }}
    {{/if }}

    {{{body}}}

    {{> footer}}

</body>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>