<section>
  <div class="container">
    <div class="row">

      <div class="col-md-7">
        <h1 class="font-weight-bold  display-3" >Vanessa Binet <br>
          <font face="URW Chancery L, cursive">- ASG à Domicile -</font>
        </h1>
      </div>
      {{#if user}}
     
      <div class="col-md-4  ">
        <h3 class="text-center font-italic font-weight-bold " id="test" >Bonjour {{ sess.firstname }}</h4>
        <h4 class="text-center font-italic " id="test" >Bienvenu sur mon site</h4>
      </div>
    </div>
  </div>
  {{/if}}

</section>

<style>
  #test{
    animation: Test 2s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
</style>