{{!--------------- liens infos-----------------------}}

<div class="container d-flex justify-content-center">
  <div class="row  ">

    <div class="col-md-6">
      <div class="card Mycard text-white bg-info mb-3 text-center" style="max-width: 100%;">
        <div class="card-header">
          <h2>
            <a href="/InfoAsg" class="card-link text-white">Qu’est qu’un ASG ? </a>
          </h2>
          <div class="card-body">
            <a href="/InfoAsg" class="card-link text-white"><h5 class="card-title">Voici un article interessant sur le role de l'ASG <br></h5><h6>Cliquer sur le lien ci dessus pour en savoir plus</h6>  </a>
              
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card  Mycard text-white bg-info mb-3" style="max-width: 100%; text-align:center ">
        <div class="card-header">
          <h4>
            <a target='_blank' href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile"
              class="card-link text-white"><i class="fas fa-angle-double-down"></i> Lien Réduction d'impôts <i
                class="fas fa-angle-double-down"></i> </a>
          </h4>
          <div class="card-body">
             <a target='_blank' href="https://www.portail-autoentrepreneur.fr/academie/gestion-auto-entreprise/services-personnes/services-a-la-personne"
              class="card-link text-white">
            <img src="assets/images/servicealapersonne.jpg" alt="" style="width: 200px;"> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>