{{!--------------- liens infos-----------------------}}

<div class="container">
  <div class="row d-flex justify-content-around ">


    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h2>
            <a href="/InfoAsg" class="card-link text-white">infos ASG
          </h2>

          <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
          </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h2>
            <a href="/Calcul" class="card-link text-white">Estimation
          </h2>
          <div class="card-body">
            <h5 class="card-title">Estimer le cout de l'emploi</h5>
            <p class="card-text">En cliquant sur le lien ci dessus, Vous pourrez connaitre le cout total des heures
              d'emploi charges comprises et aides deduites</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>