{{!--------------- liens infos-----------------------}}

<div class="container d-flex justify-content-center">
  <div class="row  ">

    <div class="col-md-4">
      <div class="card Mycard text-white bg-info mb-3 text-center" style="max-width: 100%;">
        <div class="card-header">
          <h2>
            <a href="/InfoAsg" class="card-link text-white">Qu’est qu’un ASG ? </a>
          </h2>
          <div class="card-body">
            <a href="/InfoAsg" class="card-link text-white"><h5 class="card-title">Voici un article interessant sur le role de l'ASG <br> <br></h5> </a>
            <a href="/InfoAsg" class="card-link text-white"><p class="card-text ">Cliquer sur le lien ci dessus <br> pour en savoir plus</p></a>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card  Mycard text-white bg-info mb-3" style="max-width: 100%; text-align:center ">
        <div class="card-header">
          <h4>
            <a target='_blank' href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile"
              class="card-link text-white"><i class="fas fa-angle-double-down"></i> Lien Réduction d'impôts <i
                class="fas fa-angle-double-down"></i> </a>
          </h4>
          <div class="card-body">
             <a target='_blank' href="https://www.impots.gouv.fr/portail/particulier/emploi-domicile"
              class="card-link text-white">
            <img src="assets/images/service a la personne.jpg" alt="" style="width: 200px;"> </a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card  Mycard text-white bg-info mb-3" style="max-width: 100%; text-align:justify ">
        <div class="card-header ">
          <h2 class="text-center">
            <a target='_blank' href="https://www.cesu.urssaf.fr/decla/index.html?page=page_estimer&LANG=FR"
              class="card-link text-white">Estimation de prix </a>
          </h2>
          <div class="card-body">
            <a target='_blank' href="https://www.cesu.urssaf.fr/decla/index.html?page=page_estimer&LANG=FR"
              class="card-link text-white">
              <h5 class="card-title">Estimer le cout de l'emploi</h5>
            </a>
            <a target='_blank' href="https://www.cesu.urssaf.fr/decla/index.html?page=page_estimer&LANG=FR"
              class="card-link text-white">
              <p class="card-text">En cliquant sur le lien ci dessus, Vous pourrez connaitre le cout total des heures
                d'emploi charges comprises et aides deduites</p>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>