{{!--------------- Présentation -----------------------}}

<section class="m-2">
  <div class="container-fluid ">
    <div class="row d-flex justify-content-around">

      <div class="col-md-4">
        <img class="clip-polygon  displayed" src="assets/images/logo.jpg" alt="">
      </div>

      <div class="col-md-4 ">
        <div class="card Mycard-simple">
          <h5 style="text-align: center;"><b>1er RDV GRATUIT</b></h5>
          <p style="text-align: center;">
            Tél: 06 76 64 38 58
          </p>
          <p style="text-align: center;">
            PRISE DE CONTACT<br>
            Rencontre et échange avec la personne et sa famille pour déterminer les besoins, les attentes les habitudes
            de vies afin d’adapter les activités<br>
            <br>
            ORGANISATION<br>
            - Déterminer les jours d’intervention pour les ateliers<br>
            - Mise en place d’un calendrier<br>
            - Suivi des ateliers et mise en place d’un cahier <br>pour les transmissions<br>
            - Analyse et réajustement des ateliers<br>
          </p>
        </div>
      </div>

      <div class="col-md-4 ">
        <img src="assets/images/profil.jpg" alt="photo vanessa binet" class="rounded-circle displayed"
          style="width: 55%;">
      </div>

    </div>
  </div>
</section>


<section class="m-4">
  <div class="container d-flex align-items-center">
    <div class="row ">
      <div class="col-md-10" style="  display: block;
    margin-left: auto;
    margin-right: auto">
        <div class="card Mycard-simple">
          <div class="card-body">
            <h3 class="card-title text-center">Qui suis je ?<br>
            <br> </h3>
            <p class="card-text font-weight-bold" style="text-align: center;">
              Assistante de Soin en Gérontologie, je travaille auprès de personnes âgées depuis 20 ans.<br>
              <br></p>


<p class="card-text" style="text-align: justify;"></p>

              Passionnée par ce métier, j’ai d’abord travaillé en tant qu’aide-soignante pendant 12 ans puis j’ai fait
              une formation d’ASG pour pouvoir proposer des activités adaptées aux personnes âgées ayant une maladie
              d’Alzheimer ou maladie apparentée. J’ai travaillé dans un PASA (Pôle d’Activités et de Soins Adaptés) où
              j’ai eu la chance de proposer des activités intéressantes et variées afin d’atténuer l’ennui et la
              solitude des personnes âgées et de proposer des ateliers pour stimuler la mémoire et les capacités des
              personnes âgées. Ayant travaillé en EHPAD je connais les besoins des personnes âgées et de leurs proches
              et je souhaite maintenant développer cette activité à domicile.<br>
              <br>

            <h4 class="card-text font-weight-bold" style="text-align: center;">J’ai deux objectifs : <br>
              <br></h4>


            Le premier est auprès de votre proche. Je souhaite contribuer au bien être de votre aîné ou conjoint et
            donc indirectement de favoriser son maitient à domicile. A défaut de pouvoir assurer une prise en charge
            pluridisciplinaire comme c’est le cas dans des établissements de santé (EHPAD, Accueil de jour) ou avec
            les EMA (Equipe Mobile Alzheimer), je vous propose une série d’activités qui vont permettre de prendre
            du
            bon temps, favoriser le lien social, partager et stimuler les capacités globales de votre proche
            (mémoire,
            dextérité, capacités physique, moral).<br>
            <br>

            Le deuxième objectifs est auprès de VOUS. Je sais combien il peut être difficile d’occuper et de
            s’occuper
            quotidiennement d’un proche malade ou âgé. Grâce à mes services , je vous permets de libérer votre
            esprit
            durant quelques heures pour que vous puissiez prendre ce temps pour vous. Obligation ? RDV ? Courses ?
            Loisirs ? Déjeuner entre amies ? Vous pouvez tout faire en étant rassuré pour votre proche. Je suis bien
            entendu disponible pour échanger avec vous sur vos difficultés ou tout autre sujet.<br>
            <br>

            Il est parfois difficile de savoir où et comment obtenir de l’aide. Vous n’avez plus à aller la
            chercher,
            je suis cette aide et je viens à vous.<br>
            <br>
            </p>

            <p class="card-text text-center">

              - vous aider dans les gestes du quotidien<br>

              - juste envie de discuter<br>

              - De lire le journal<br>

              - De sortir dans le jardin ou autre<br>

              - De faire un jeu<br>

              - De faire de la cuisine ou des gestes simples de la vie quotidienne<br>

              - Des ateliers manuels<br>

              - Des ateliers mémoires<br>

              - De la gym<br>

              - Aller voir un voisin<br>

              - Écrire à vos petits-enfants<br>

              <b>Vous retrouverez les principales activités proposées dans la rubrique Ateliers.<b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>