{{!--------------- Présentation -----------------------}}

<section class="m-5">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-4 ">
        <img src="assets/images/profil.jpg" alt="photo vanessa binet" class="rounded-circle" style="width: 100%;">
      </div>
      <div class="col-md-8 ">
        <div class="card Mycard-simple">
          <div class="card-body">
            <h5 class="card-title text-center">Qui suis je ?</h5>
            <p class="card-text" style="text-align: justify;">
              Vanessa Assistante de Soin en Gérontologie. Je travaille auprès de personnes âgées depuis 20 ans.<br>

              Passionnée par ce métier, j’ai d’abord travaillé en tant qu’aide-soignante pendant 12 ans puis j’ai fait
              une formation d’ASG pour pouvoir proposer des activités adaptées aux personnes âgées ayant une maladie
              d’Alzheimer ou maladie apparentée. J’ai travaillé dans un PASA ou j’ai eu la chance de proposer des
              activités intéressantes et variées afin d’atténuer l’ennuie et la solitude des personnes âgées et de
              proposer des ateliers pour stimuler la mémoire et les capacités des personnes âgées. Ayant toujours
              travaillé en EHPAD je souhaiterai maintenant développer ce métier à domicile. <br>


              Mes objectifs sont principalement de permettre aux personnes âgées de rester à leur domicile le plus
              longtemps possible tout en continuant à faire des activités qu’elles apprécient et qui permettent de
              maintenir leur capacités cognitives et physiques mais aussi d’avoir la possibilité de pouvoir prendre du
              plaisir en continuant de faire des choses qu’ elles aiment faire mais qu’elles ne peuvent plus faire
              seules. Eviter l’isolement social des personnes âgées qui sont à leur domicile. <br>

              Mais aussi soulager l’aidant, je peux venir passer du temps à votre domicile ce qui vous permettrait de prendre du temps pour vous, pour vous permettre de penser à vous, vous
              reposer, aller à un rendez-vous sans avoir à stresser de laisser votre conjoint seul, vous sentir apaiser
              de savoir que la personne est en sécurité, occupée et épanouie. Je peux aussi être là pour vous, pour
              discuter avec vous, vous conseiller vous aider. Je m’adapte aux besoins des personnes, à leurs demandes
              :<br></p>
            <p class="card-text text-center">
              - juste envie de discuter<br>

              - De lire le journal<br>

              - De sortir dans le jardin ou autre<br>

              - De faire un jeu<br>

              - De faire de la cuisine ou des gestes simple de la vie quotidienne<br>

              - Des ateliers manuels<br>

              - Des ateliers mémoires<br>

              - De la gym<br>

              - Aller voir un voisin<br>

              - Écrire à vos petits-enfants<br>

              <i> Vous trouverez les ateliers que je propose sur ce site dans la page Ateliers<i> <br>
              <br>

              <b>Je serais la si vous le souhaitez pour vous permettre de continuer à vous épanouir à votre
                domicile.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>