{{!-- 
  Page Admin
 --}}

<section>
    <div class="container">
        <div class="row d-flex justify-content-start mt-3">
            <div class="col-md-12">
                <div class="card Mycard-simple">
                    <div class="card-body">
                        <h1 class="card-title text-center"><i class="far fa-user account "></i> Administration</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion col-md-12 pt-2" id="accordionAdmin">

                <div class="card Mycard-simple bg-info">
                    <div class="card-header" id="headingUser">
                      
                            <button type="button" class="btn btn-outline-light" data-toggle="collapse"
                                data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                                <h3>Liste Des Utilisateurs</h3>
                            </button>
                      
                    </div>
                    <div id="collapseUser" class="collapse" aria-labelledby="headingUser" data-parent="#accordionAdmin">

                        {{!-- Components Liste User Page Admin --}}
                        {{> admin/adminUser }}

                    </div>
                </div>


                {{!------------------- dropdown  Message  ------------ --}}
                <div class="row">
                    <div class="accordion col-md-12 pt-2" id="accordionAdminMessage">
                        <div class="card Mycard-simple bg-info">
                            <div class="card-header" id="headingMessage">
                               
                                    <button type="button" class="btn btn-outline-light" data-toggle="collapse"
                                        data-target="#collapseMessage" aria-expanded="false"
                                        aria-controls="collapseMessage">
                                        <h3> {{ counter dbMessage }} Messages</h3>
                             
                            </div>

                            {{!------------------- dropdown  Message Non Lu ------------ --}}
                            <div id="collapseMessage" class="collapse" aria-labelledby="headingMessageChecked"
                                data-parent="#accordionAdmin">

                                <div class="card Mycard-simple bg-info">
                                    <div class="card-header" id="headingMessage">
                                       
                                            <button type="button" class="btn btn-outline-light" data-toggle="collapse"
                                                data-target="#collapseMessageNotChecked" aria-expanded="false"
                                                aria-controls="collapseMessageNotChecked">
                                                <h3> Messages Non Lus</h3>
                                       
                                    </div>
                                    <div id="collapseMessageNotChecked" class="collapse"
                                        aria-labelledby="headingMessageNotChecked" data-parent="#accordionAdminMessage">

                                        {{!-- Components Message Lu Page Admin --}}
                                        {{> admin/adminMessageNotChecked}}
                                    </div>
                                </div>
                            </div>
                            {{!------------------- dropdown  Message Lu ------------ --}}
                            <div id="collapseMessage" class="collapse" aria-labelledby="headingMessageChecked"
                                data-parent="#accordionAdmin">

                                <div class="card Mycard-simple bg-info">
                                    <div class="card-header" id="headingMessage">
                                       
                                            <button type="button" class="btn btn-outline-light" data-toggle="collapse"
                                                data-target="#collapseMessageChecked" aria-expanded="false"
                                                aria-controls="collapseMessageChecked">
                                                <h3>Messages Lus</h3>
                                       
                                    </div>
                                    <div id="collapseMessageChecked" class="collapse"
                                        aria-labelledby="headingMessageChecked" data-parent="#accordionAdminMessage">

                                        {{!-- Components Message Lu Page Admin --}}
                                        {{> admin/adminMessageChecked}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="accordion col-md-12 pt-2" id="accordionAdmin">
                <div class="card Mycard-simple bg-info">
                    <div class="card-header" id="headingArticle">
                        
                            <button type="button" class="btn btn-outline-light" data-toggle="collapse"
                                data-target="#collapseArticle" aria-expanded="false" aria-controls="collapseArticle">
                                <h3>Liste Des Articles</h3>
                       
                    </div>
                    <div id="collapseArticle" class="collapse" aria-labelledby="headingArticle"
                        data-parent="#accordionAdmin">

                        {{!-- Components Liste Article Page Admin --}}
                        {{> admin/adminArticle}}

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="accordion col-md-12 pt-2" id="accordionAdmin">
                <div class="card Mycard-simple bg-info">
                    <div class="card-header" id="headingRDV">
                        
                            <button type="button" class="btn btn-outline-light" data-toggle="collapse"
                                data-target="#collapseRDV" aria-expanded="false" aria-controls="collapseRDV">
                                <h3>Liste Des RDV</h3>
                      
                    </div>
                    <div id="collapseRDV" class="collapse" aria-labelledby="headingRDV" data-parent="#accordionAdmin">

                        {{!-- Components Liste RDV Page Admin --}}
                        {{> admin/adminRDV}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>