{{#if isAdmin}}

<section class="m-3">
    <!-- Button trigger modal ajouter un Atelier -->
    <div class="row d-flex justify-content-center ">
        <button type="button" class="btn btn-info  " data-toggle="modal" data-target="#Atelier">
            Créer un nouvel Atelier
        </button>
    </div>

    <!-- Modal ajouter un Atelier-->
    <div class="modal fade" id="Atelier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un Atelier</h5>
                </div>

                <form action="/Atelier" method="post" enctype="multipart/form-data">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="formGroupExampleInput">Titre :</label>
                            <input type="text" class="form-control" name='title' id="formGroupExampleInput">
                        </div>
                        <div class="control">
                            <textarea class="textarea" name="content"></textarea>
                            <script>CKEDITOR.replace('content');</script>
                        </div>
                        <div class="form-group m-2">
                            <label>Photo :</label>
                            <input type="file" class="form-control" name='image'>
                        </div>
                        <div class="form-group">
                            <label>Photos galleries:</label>
                            <input type="file" class="form-control" name='imageGallery' multiple>
                        </div>
                    </div>

                    <div class="modal-footer ">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{/if}}

<section>
    <div class="container-fluid">
        <ul class='circle-container'>
            {{#each dbAtelier}}
            <a href="/AtelierSingle/{{_id}}" class="btn btn-info shadow"></a><img src="{{ image }}"
                class="rounded-circle" alt="..." style=" width: 200px; height: 200px; display: block;">
            Voir l'Atelier {{ title }}</a>
            {{/each }}
        </ul>
    </div>
</section>

<style>
    .textLimit {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        max-height: 320px;

        /* The number of lines to be displayed */
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
</style>