
<section class="position">
     <h1><font face="URW Chancery L, cursive">Les ateliers proposés :</font></h1>
</section>

{{#if isAdmin}}

<section class="m-3 position-btn ">
    <!-- Button trigger modal ajouter un Atelier -->
    <div class="row ">
        <button type="button" class="btn btn-info  " data-toggle="modal" data-target="#Atelier">
            Créer un nouvel Atelier
        </button>
    </div>

    <!-- Modal ajouter un Atelier-->
    <div class="modal fade" id="Atelier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Créer un Atelier</h5>
                </div>

                <form action="/Atelier" method="post" enctype="multipart/form-data">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="formGroupExampleInput">Titre :</label>
                            <input type="text" class="form-control" name='title' id="formGroupExampleInput">
                        </div>
                        <div class="control">
                            <textarea class="textarea" name="content"></textarea>
                            <script>CKEDITOR.replace('content');</script>
                        </div>
                        <div class="form-group m-2">
                            <label>Photo :</label>
                            <input type="file" class="form-control" name='image'>
                        </div>
                        <div class="form-group">
                            <label>Photos galleries:</label>
                            <input type="file" class="form-control" name='imageGallery' multiple>
                        </div>
                    </div>

                    <div class="modal-footer ">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{/if}}




<section >
    <div class="container-fluid">
        <ul class='circle-container'>
            {{#each dbAtelier}}
            <a href="/AtelierSingle/{{_id}}" class="btn btn-info shadow"></a><img src="{{ image }}"
                class="rounded-circle" alt="..." style=" width: 200px; height: 200px; display: block;">
            </a>
            {{/each }}
        </ul>
    </div>
</section>

<section>
<div>
    <img class="fleche"  src="/assets/images/fleches.png" alt="">
</div>

</section>

<style>
.fleche{
    position: absolute;
    top: 50%;
    right: 35%;
    height: 350px;
    width: 350px;
}

.position{
 position: absolute;
    left: 5%;
    top: 10%;
}

.position-btn{
 position: absolute;
    left: 10%;
    top: 20%;
}

</style>