<h1>coucou</h1>


<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache">
    
    <title>www.cesu.urssaf.fr</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /><![endif]-->


    <script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/log4javascript.js"></script>

    <script type="text/javascript" src="cesuwebdeclaconstantes20.1.5.4.js"></script>
    <script type="text/javascript" src="cesuwebdecla20.1.5.4.js"></script>

    <!-- Gestion du cookie banner -->
    <script type="text/javascript" src="lib/cookie_banner.js"></script>

    <script type="text/javascript" src="lib/i18next.js"></script>
    <script type="text/javascript" src="lib/pwstrength-bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/chosen.jquery-patch.cesu.js"></script>

    <!-- ATTENTION : librairies supplémentaires nécessaires pour cette page - DEBUT -->
    <script type="text/javascript" src="lib/jquery.mask.min.js"></script>
    <script type="text/javascript" src="lib/nouislider.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap3-typeahead.old.js"></script>
    <!-- ATTENTION : librairies supplémentaires nécessaires pour cette page - FIN -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chosen.cesu.min.css">
    <link rel="stylesheet" href="css/nouislider.min.css">

    <!-- ATTENTION : bien garder le CSS Cesu en dernier car il surcharge les valeurs par défaut des autres librairies -->
    <link rel="stylesheet" href="css/cesu20.1.5.4.css">

</head>

<body>
    <!-- Avertissement pour les navigateurs trop anciens -->
    <!--[if lt IE 9]>
      <div style="background: red; color: white; padding: 10px; text-align: center; font-weight: bold; z-index: 1000;">
        Vous utilisez un navigateur trop ancien.<br />Pour profiter pleinement de ce site, nous vous recommandons de <a href="https://www.browser-update.org/fr/update.html" target="_blank" style="color: #ace4e5;">mettre à jour votre navigateur</a>.
      </div>
    <![endif]-->

    <!-- Entête - DEBUT -->
    <nav id="header" class="navbar layout-header">
    </nav>
    <!-- Entête - FIN -->

    <!-- Corps de page - DEBUT -->
    <div class="container layout-content">
        <!-- Entête corps de page - DEBUT -->
        <div class="row hidden-xs vertical-align layout-content-header">

            <!-- Entête : Sauf mobile : bloc fil d'Ariane -->
            <div id="filAriane" class="col-sm-7 col-md-8 col-lg-9 layout-content-header-filAriane">

            </div>
            <!-- Entête : Sauf mobile : bloc fil d'Ariane FIN -->

            <!-- Entête : Sauf mobile : bloc boutons de partage -->
            <div class="col-sm-5 col-md-4 col-lg-3" id="zoneBoutonsPartage">

            </div>
        </div>
        <div class="row hidden vertical-align layout-content-header">
            <div class="col-sm-7 col-md-8 col-lg-9 layout-content-header-filAriane">
                <ul>
                    <li id="dateMediaPrint"></li>
                </ul>
            </div>
        </div>
        <!-- Entête corps de page - FIN -->

        <!-- Contenu de la page - DEBUT -->
        <div id="gabarit" class="row">
        </div>
        <!-- Contenu de la page - FIN -->
    </div>

    <!-- Corps de page - FIN -->

    <!-- Pied de page - DEBUT -->
    <div id="footer"></div>
    <!-- Pied de page - FIN -->

    <script type="text/javascript">
        $(document).ready(function() {
            startCesuDeclaUtils();

            //On remplit le champ date utilisé pour l'impression
            setDateMediaPrint();
        });

    </script>
</body>

</html>