<section class="m-1">
    <div class="container  ">
        <div class="row ">
            <div class="col-md-12  ">
                <div class="card Mycard-simple" style="width: auto;">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42864.76317007332!2d0.6958442299561507!3d47.81929318235822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e31953a01bbe4d%3A0x903c60924f833279!2s72310%20Bess%C3%A9-sur-Braye!5e0!3m2!1sfr!2sfr!4v1584371971834!5m2!1sfr!2sfr"
                        width="auto" height="500" frameborder="0" style="border:0;  border-radius: 10%; " allowfullscreen="" 
                        aria-hidden="false" tabindex="0"></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title">Mon périmètre d'activité</h5>
                        <p class="card-text">30 km </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="m-3">
    <div class="container  ">
        <div class="row ">
            <div class="col-md-12  ">
                <div class="card Mycard">
                    <div class="card-body ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-around">
                                    <a target='_blank' href="https://www.facebook.com/vanessa.binet.1884"  class="fab fa-facebook-square fa-4x" type="button" style="color: #3b5999 ;"></a>
                                    <i class="fab fa-instagram fa-4x" type="button" style="color: #e4405f ;"></i>
                                    <i class="fab fa-twitter fa-4x" type="button" style="color: #55acee ;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<form action="/Contact" method="post">
    <section class="m-3">
        <div class="container  ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="card Mycard-simple">
                        <div class="card-body text-center">
                            <h2>Pour me contacter : </h2>
                            <h3> <i class="fas fa-phone fa-2x"> 06 . . . . </i> </h3>
                            <h3>ou envoyer un message :</h3>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">@</span>
                                </div>

                                <input type="email" class="form-control" name="email" placeholder="adresse mail" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>

                             <input type="text" class="form-control" name="author" placeholder="nom" aria-label="Username"
                                    aria-describedby="basic-addon1">


                                     <input type="text" class="form-control" name="subject" placeholder="sujet" aria-label="Username"
                                    aria-describedby="basic-addon1">


                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Message</span>
                                </div>
                                <textarea class="form-control" name="message" aria-label="With textarea"></textarea>
                            </div>

                            <div class="m-2">
                                <button type="submit" class="btn btn-info">Envoyer</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>