<section class="m-3">
    <div class="container  ">
        <div class="row ">
            <div class="col-md-6  ">
                <div class="card Mycard-simple" style="width: 100%;">
                    <img href="/public/images/cartePageContact.png" class="card-img-top"
                        alt="carte perimètre de travail">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="m-3">
    <div class="container  ">
        <div class="row ">
            <div class="col-md-8  ">
                <div class="card Mycard">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalDeleteArticle{{_id}}">
                            <i class="fab fa-facebook-square"></i>
                        </button>
                        <i class="fab fa-facebook-square"></i>
                        <i class="fas fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="m-3">
    <div class="container  ">
        <div class="row ">
            <div class="col-md-8  ">
                <div class="card Mycard-simple">
                    <div class="card-body">
                        phone
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>