
<a href="/nodemailerTest">
    <button>test Nodemailer</button>
</a>


<a href="/send">
    <button>Send Verification Nodemailer</button>
</a>

{{> Home/Bonjour}}

{{> Home/Presentation}}

{{> Home/LastArticle}}

{{> Home/LienInfo}}


