<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card Mycard-simple  m-3 p-3" style="width: 100%;">
                    <div class="row">
                        <div class="card-body">
                            <h1 class="section_title section_title_medium_var2 text-center">Mieux vivre sa dépendance à Domicile <br>  avec un assistant de
                                soins en gérontologie (ASG)</h1>
<p>Un ASG ou assistant de soins en gérontologie, est un aide-soignant ou aide-médico-psychologique (AMP) spécialisé dans les soins à apporter aux personnes 
L’assistant de soins en gérontologie permet non seulement d’assurer une surveillance et un accompagnement spécialisés au quotidien, mais aussi de lutter contre la solitude et les risques de dépression dont peut souffrir la personne âgée en proposant différentes activités adaptées à la personne.
Il aide notamment le patient à retrouver une bonne image de lui-même.
Il évite l’isolement de la personne de son entourage et l’aide à rester active.
Il lui offre écoute et soutien.
Il peut également apporter un soutien psychologique au membre de la famille du patient, qui peuvent rencontrer des difficultés. Pour les proches, la présence de l'ASG est également rassurant et permet à l’aidant de souffler et de prendre du temps pour lui.</p>
                                                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>