<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card Mycard-simple  m-3 p-3" style="width: 100%;">
                    <div class="row">
                        <div class="card-body">
                            <h1 class="section_title section_title_medium_var2 text-center">Mieux vivre sa dépendance avec un
                                assistant <br> de
                                soins en gérontologie (ASG)</h1>

                            <div class="text_post_block">
                                <figure class="scale_image_container">
                                    <img src="assets/images/personne-âgée-mains.jpg"
                                        alt="" style="height:220px; width: 220px;">
                                    <figcaption>Une assistant de soins en gérontologie avec sa patiente</figcaption>
                                </figure>

                                <div class="std">
                                    <p>Il est important pour les personnes &acirc;g&eacute;es en perte d&rsquo;autonomie
                                        et
                                        pr&eacute;sentant des troubles cognitifs d&rsquo;&ecirc;tre accompagn&eacute;es
                                        dans les
                                        actes essentiels de la vie quotidienne (AVQ), que ce soit &agrave; domicile ou
                                        dans un
                                        &eacute;tablissement m&eacute;dicalis&eacute;. Pour cela elles peuvent
                                        b&eacute;n&eacute;ficier depuis la cr&eacute;ation du plan Alzheimer, d&rsquo;un
                                        assistant de soins en g&eacute;rontologie (ASG). Cet intervenant &agrave;
                                        domicile (ou
                                        en &eacute;tablissement sp&eacute;cialis&eacute;) a pour vocation d'accompagner
                                        les
                                        personnes &acirc;g&eacute;es en &eacute;tat de grande d&eacute;pendance. Nous
                                        vous en
                                        disons plus sur ce service &agrave; domicile et sur son utilit&eacute;.</p>
                                    <h2 class="text-center">Qu&rsquo;est qu&rsquo;un ASG&nbsp;?</h2>
                                    <p>Un ASG ou assistant de soins en g&eacute;rontologie, est un aide-soignant ou
                                        aide-m&eacute;dico-psychologique (AMP) sp&eacute;cialis&eacute; dans les soins
                                        &agrave;
                                        apporter aux personnes&nbsp;:</p>
                                    <ul>
                                        <li>En situation de grande d&eacute;pendance,</li>
                                        <li>Atteintes de la maladie d&rsquo;Alzheimer,</li>
                                        <li>Atteintes de toute autre maladie chronique ou
                                            d&eacute;g&eacute;n&eacute;rative.
                                        </li>
                                    </ul>
                                    <p>Sous la responsabilit&eacute; d&rsquo;un professionnel param&eacute;dical ou
                                        d&rsquo;un
                                        travailleur social, <strong>il permet de maintenir l&rsquo;autonomie de la
                                            personne et
                                            d&rsquo;am&eacute;liorer son quotidien</strong>, que ce soit dans le cadre
                                        du maintien à domicile</a> ou dans un &eacute;tablissement sp&eacute;cialis&eacute;. Il
                                        l&rsquo;aide ainsi &agrave; r&eacute;aliser les t&acirc;ches de la vie
                                        quotidienne,
                                        devenues difficiles, et &agrave; s&rsquo;adapter au mieux &agrave; sa condition.
                                    </p>
                                    <p><em><strong>&Agrave; savoir : </strong>cette sp&eacute;cialisation a
                                            &eacute;t&eacute;
                                            mise en place &agrave; la suite du d&eacute;ploiement du plan Alzheimer en
                                            2008,
                                            afin de r&eacute;pondre aux besoins du nombre grandissant de personnes
                                            touch&eacute;es par la maladie.</em></p>
                                    <h2 class="text-center">Le r&ocirc;le de l'assistant de soins en g&eacute;rontologie</h2>
                                    <p>L'assistant de soins en g&eacute;rontologie apporte une aide
                                            aux personnes &acirc;g&eacute;es d&eacute;pendantes, qui permet de
                                        rassurer une
                                        personne atteinte d'Alzheimer, ou ayant perdu en autonomie.</p>
                                    <p>Le r&ocirc;le de l'ASG est multiple :</p>
                                    <h3 class="text-center" >Un soutien psychologique pour les personnes &acirc;g&eacute;es
                                        d&eacute;pendantes</h3>
                                    <p>L&rsquo;assistant de soins en g&eacute;rontologie <strong>permet non seulement
                                            d&rsquo;assurer une surveillance et un accompagnement
                                            sp&eacute;cialis&eacute;s au
                                            quotidien, mais aussi de lutter contre la solitude et les risques de
                                            d&eacute;pression dont peut souffrir la personne &acirc;g&eacute;e
                                            :</strong></p>
                                    <ul>
                                        <li>Il aide notamment le patient &agrave; retrouver une bonne image de lui
                                            m&ecirc;me,
                                            et &agrave; mieux accepter sa nouvelle vie.</li>
                                        <li>Il &eacute;vite l&rsquo;isolement de la personne de son entourage et la
                                            pousse
                                            &agrave; rester active.</li>
                                        <li>Il lui offre &eacute;coute et soutien, et garantit ainsi un meilleur
                                            &eacute;quilibre psychologique, n&eacute;cessaire pour maintenir son
                                            &eacute;tat de
                                            sant&eacute;.</li>
                                    </ul>
                                    <p><strong>Il peut &eacute;galement apporter un soutien psychologique au membre de
                                            la
                                            famille du patient</strong>, qui peuvent rencontrer des difficult&eacute;s
                                        &agrave;
                                        g&eacute;rer la maladie de leur proche et ses sympt&ocirc;mes. Pour les proches,
                                        la
                                        pr&eacute;sence de l'ASG est &eacute;galement l'assurance d'une bonne prise en
                                        charge et
                                        d'un suivi attentif des soins.</p>
                                    <h3 class="text-center">La prise en charge de soins g&eacute;rontologiques</h3>
                                    <p>Paralll&egrave;lement &agrave; sa mission de soutien psychologique,
                                        l&rsquo;assistant de
                                        soins en g&eacute;rontologie r&eacute;alise quatre types d&rsquo;action :</p>
                                    <ul>
                                        <li>L&rsquo;accompagnement, l&rsquo;aide et le soutien de la personne et de son
                                            entourage,</li>
                                        <li>La r&eacute;alisation de soins d&rsquo;hygi&egrave;ne quotidiens,</li>
                                        <li>La r&eacute;habilitation et la stimulation des capacit&eacute;s,</li>
                                        <li>Le maintien des liens sociaux et de la connexion &agrave;
                                            l&rsquo;environnement.
                                        </li>
                                    </ul>
                                    <p><strong>Ces soins sp&eacute;cifiques sont primordiaux dans le quotidien des
                                            personnes
                                            atteintes par la maladie d&rsquo;Alzheimer ou ayant des troubles
                                            cognitifs</strong>.
                                        Ils n&eacute;cessitent d&rsquo;&ecirc;tre parfaitement adapt&eacute;s aux
                                        capacit&eacute;s et &agrave; l&rsquo;&eacute;tat de sant&eacute; de la personne,
                                        pour
                                        pr&eacute;venir tous types de complications.</p>
                                    <p>Ainsi l&rsquo;ASG a pour r&ocirc;le d&rsquo;&eacute;tablir le niveau de
                                        d&eacute;pendance
                                        de la personne afin de proposer des actions adapt&eacute;es et efficaces, tout
                                        au long
                                        du suivi. Ces actions &eacute;volueront de la m&ecirc;me mani&egrave;re que
                                        l&rsquo;&eacute;tat de sant&eacute; du patient. L&rsquo;assistant de soins en
                                        g&eacute;rontologie doit donc &ecirc;tre pr&eacute;sent au quotidien et
                                        &ecirc;tre
                                        particuli&egrave;rement attentif au moindre signe.</p>
                                    <h2 class="text-center">O&ugrave; peut-on b&eacute;n&eacute;ficier des soins d&rsquo;un ASG&nbsp;?</h2>
                                    <p>L&rsquo;assistant de soins en g&eacute;rontologie exerce dans diff&eacute;rents
                                        types
                                        d&rsquo;&eacute;tablissements m&eacute;dicalis&eacute;s :</p>
                                    <ul>
                                        <li>Les maisons de retraite,</li>
                                        <li>Les Unit&eacute;s d&rsquo;H&eacute;bergements Renforc&eacute;s (UHR),</li>
                                        <li>Les &Eacute;tablissements d&rsquo;h&eacute;bergements pour personnes
                                            &acirc;g&eacute;es d&eacute;pendantes (EHPAD),</li>
                                        <li>Les Unit&eacute;s de soins de longue dur&eacute;e (USLD),</li>
                                        <li>Les Unit&eacute;s cognitivo-comportementales (UCC).</li>
                                    </ul>
                                    <p>Il peut &eacute;galement intervenir dans le cadre d'une ESA (&eacute;quipe
                                        sp&eacute;cialis&eacute;e Alzheimer), qui intervient directement &agrave;
                                        domicile.</p>
                                    <p>Dans le cadre du plan Alzheimer,<strong> le nombre de postes d&rsquo;assistants
                                            de soins
                                            en g&eacute;rontologie est en constante augmentation depuis plusieurs
                                            ann&eacute;es</strong>.</p>
                                    <p>Il est &eacute;galement fortement renforc&eacute; dans les Services de Soins
                                        Infirmiers
                                        &agrave; Domicile ou SSIAD, afin de garantir le maintien de la personne
                                        &acirc;g&eacute;e d&eacute;pendante le plus longtemps possible dans son
                                        logement. Ce
                                        maintien est essentiel afin de ne pas bouleverser le quotidien du patient et
                                        d&rsquo;assurer au maximum son moral en le laissant vivre dans un environnement
                                        auquel
                                        il est attach&eacute;.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>