<section>
    <h1>Changer votre mot de passe</h1>
    <div class="container">

        {{#if errorsPassword1}}
        <div class="row m-1">
            <label class="text-danger">{{errorsPassword1}}</label>
        </div>
        <div class="row m-1">
            <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#modalmdpOublié"> mot de passe oublié
                ?</a>
        </div>
        {{else}}
        <form action="/lostPassword/{{handshakeEmail._id}}?_method=PUT" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nouveau Mot de passe :</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" name="newPassword" class="form-control" placeholder="Password"
                                required /><button class="unmasklostpassword" type="button"
                                title="Mask/Unmask password to check content"><i class="fas fa-eye"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Confirmer Nouveau Mot de passe :</label>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" name="confNewPassword" class="form-control" placeholder="Password"
                                required /><button class="unmasklostpassword" type="button"
                                title="Mask/Unmask password to check content"><i class="fas fa-eye"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success m-3">Confirmer</button>
                </div>
            </div>
        </form>
        {{/if}}

    </div>
</section>

<script>
    //function décache mot de passe
    $('.unmasklostpassword').on('click', function () {

        if ($(this).prev('input').attr('type') == 'password')
            changeType($(this).prev('input'), 'text');

        else
            changeType($(this).prev('input'), 'password');

        return false;
    });

    // x = élément du DOM, type = nouveau type à attribuer
    function changeType(x, type) {
        if (x.prop('type') == type)
            return x; // ça serait facile.
        try {
            // Une sécurité d'IE empêche ceci
            return x.prop('type', type);
        }
        catch (e) {
            // On tente de recréer l'élément
            // En créant d'abord une div
            var html = $("<div>").append(x.clone()).html();
            var regex = /type=(\")?([^\"\s]+)(\")?/;
            // la regex trouve type=text ou type="text"
            // si on ne trouve rien, on ajoute le type à la fin, sinon on le remplace
            var tmp = $(html.match(regex) == null ?
                html.replace(">", ' type="' + type + '">') :
                html.replace(regex, 'type="' + type + '"'));

            // on rajoute les vieilles données de l'élément
            tmp.data('type', x.data('type'));
            var events = x.data('events');
            var cb = function (events) {
                return function () {
                    //Bind all prior events
                    for (i in events) {
                        var y = events[i];
                        for (j in y) tmp.bind(i, y[j].handler);
                    }
                }
            }(events);
            x.replaceWith(tmp);
            setTimeout(cb, 10); // On attend un peu avant d'appeler la fonction
            return tmp;
        }
    }




</script>