<section class="section">
    <div class="container">
        <h1 class="display-1" >404</h1>
        <h1>Page introuvable</h1>
        <h4><a href="/">Retourner sur la page d'accueil</a></h4>
    </div>
</section>