

<section>
    <div class="container text-center" style="background-color: white;">
        <div class="row">
            <div class="col-md-12">
                <h2 id="clignotant">Félicitations 

                </h2>
                <h4>Votre Compte est validé! <br> Vous pouvez maintenant vous connecter !</h4>

            </div>
        </div>
    </div>
</section>

<style>

  #clignotant{
    animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1; }
    50%{opacity: 0; color: turquoise;}
    100%{opacity: 1; color: blue;}
}
</style>