.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
}

.lightbox__next,
.lightbox__prev {
    border: none;
    position: fixed;
    top: 50%;
    right: 5%;
    margin-top: -14px;
    z-index: 11;
}

.lightbox__next:hover,
.lightbox__prev:hover {
    opacity: 1;
}

.lightbox__prev {
    right: auto;
    left: 5%;
}

.lightbox__close {
    border: none;
    position: fixed;
    top: 10%;
    right: 5%;
    margin-top: -14px;
    z-index: 11;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
}

.lightbox button:hover {
    opacity: 1;
}

.lightbox__container img {
    max-width: 100%;
    height: auto;
    animation: lightboxIn .5s;
}

.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 100vh
}

.lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: .5;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}