<section>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Publié le</th>
               
                <th></th>
            </tr>
        </thead>
        {{#each dbArticle}}
        <tbody>
            <tr>
                <td style="width: 25%"><h5>{{ title }}</h5></td>
                <td style="width: 25%"><img src="{{ image }}" class="card-img-top" alt="..." style="width: 50%;"></td>
                <td style="width: 25%"><h5>{{ moment createDate format="DD-MM-YYYY"}}</h5></td>

                <td style="width: 25%">
                    <a class="btn btn-info" href="/ArticleSingle/{{_id}}" role="button"><h5>Voir l'article</h5></a>
                   
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</section>